.package1{
  list-style-type: none;
  
}

body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(24, 112, 253, 0.852);
  font-family: Arial, Helvetica, sans-serif;
}
.btn{
  border-radius: 50px;
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 0px;
}
.card{
  width: 300px;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 5px 5px 5px 5px rgb(17, 107, 253);
}
p{
  padding-top: 20px;
  color: rgb(148, 148, 148);
  font-weight: bold;
}
h3{
  font-weight: 600;
  margin-bottom: 20px; 
  font-size: 30px;
}
li{
  line-height: 33px;
}

.btn:hover{
  background-color: rgb(22, 166, 255);
  border: none;
}

.card:hover{
  margin-top: 0.1px;
  
}

i{
  margin-right: 5px;
}